.tag {
    display: inline-block;
    background-color: @pageBackground;
    border-radius: @borderRadius;
    padding: @magicNumber/2;    
    margin-right: @magicNumber;
    margin-bottom: @magicNumber;
    .shadow;
}